<html>
  <head>
    <title>F.U.S.I.O.N</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/fusion.css" />
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
      <%- extras = RAILS_ENV == "development" ? "{ uncompressed: true }": "{}" -%>
      google.load("jquery", "1.3.2", <%= extras %>);
    </script>
    <script type="text/javascript" src="/javascripts/audio-player.js"></script> 
    <script type="text/javascript">  
      AudioPlayer.setup("http://tetesur.com/flash/player.swf", {  
        width: 290  
      });  
    </script>  
  </head>
  <body>
    <%= yield %>
  </body>
</html>
