<div id='fusion_container'>
  <iframe name="meta" id="meta" src="/desktop/fusion_meta/<%= @webpage -%>" scrolling="no"></iframe>
  <iframe name="main" id="main" src="/desktop/fusion_browser/<%= @webpage -%>" scrolling="auto"></iframe>
  <div id='statusbar'>
    Online //
  </div>
</div>
